---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="post">

          <header class="post-header">
            {% if post.external_url %}
                <h1 class="post-title"><a href="{{ post.external_url }}">{{ post.title }}{{ site.link_char }}</a></h1>
            {% else %}
                <h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            {% endif %}
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
            {% include series.html %}
          </header>

          <article class="post-content">
            {% if post.content contains site.excerpt_separator %}
            <div class="excerpt">
            {{ post.excerpt }}
              <a href="{{ post.url }}"><h3>Continue reading…</h3></a>
            </div>
            {% else %}
            {{ post.content }}
            {% endif %}
          </article>

          <h2 style="margin:20px">***</h2>

        </br>

        </div>

      </li>
    {% endfor %}
  </ul>

  <nav class="pagination">
  {% if paginator.next_page %}
      <span style="float:left"><a href="{{ paginator.next_page_path }}" class="next">&lsaquo;older&nbsp;</a></span>
  {% endif %}
  {% if paginator.previous_page %}
      <span style="float:right"><a href="{{ paginator.previous_page_path }}" class="previous">&nbsp;newer&rsaquo;</a></span>
  {% endif %}
  </nav>


</div>
